.main{
    display: flex;
}

#perfil_info{
    width: 80%;
    height: 160vh;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 10px;
    padding: 20px;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1488CC,#2B32B2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1488CC,#2B32B2 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    box-shadow: 0px 0px 20px #333;
}

.foto_p{
    width: 130px;
    height: 130px;
    margin: auto;
    background-image: url(../../layout/img/profile_exmaple.jpg);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #555;
}

.info_perfil{
    padding: 50px;
    font-family: 'Chakra Petch', sans-serif;
    line-height: 2;
}
